.transaction-group {
  margin-bottom: 20px;
}

.group-header {
  font-size: 14px;
  color: #5b5e60;
  margin-bottom: 10px;
  padding-bottom: 5px;
}

.transaction-card {
  display: flex;
  align-items: center;
  justify-content: space-between;
  background-color: #fff;
  border: 1px solid #ddd;
  border-radius: 8px;
  padding: 15px 20px;
  margin-bottom: 10px;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
}

.icon-section {
  flex: 0 0 50px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.transaction-icon {
  width: 40px;
  height: 40px;
}

.details-section {
  flex: 1;
  padding: 0 20px;
}

.from {
  font-size: 14px;
  color: #555;
}

.to {
  font-size: 14px;
  color: #777;
}

.status-amount-section {
  display: flex;
  flex-direction: column;
  align-items: flex-end;
}

.status-badge {
  display: inline-block;
  padding: 5px 10px;
  border-radius: 12px;
  font-size: 12px;
  font-weight: bold;
  text-transform: uppercase;
  margin-bottom: 5px;
}

.status-badge.approved {
  background-color: #d4edda;
  color: #155724;
}

.status-badge.rejected {
  background-color: #f8d7da;
  color: #721c24;
}

.status-badge.pending {
  background-color: #fff3cd;
  color: #856404;
}

.transaction-amount {
  font-size: 16px;
  font-weight: bold;
  color: #d9534f;
}

.load-more-container {
  text-align: center;
  margin-top: 20px;
}

.load-more-button {
  padding: 10px 24px; /* Adjust padding for a rounded shape */
  background-color: #dde4e9; /* Light gray background */
  border: none; /* Remove border */
  border-radius: 25px; /* Fully rounded corners */
  cursor: pointer;
  font-size: 16px; /* Slightly larger font */
  font-weight: bold; /* Bold text */
  color: #000; /* Black text */
  transition: background-color 0.3s ease, color 0.3s ease; /* Smooth transition on hover */
}

.load-more-button:hover {
  background-color: #adadad; /* Slightly darker gray on hover */
}


.no-more-transactions {
  font-size: 14px;
  color: #666;
  margin-top: 10px;
}

.error-message {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin: 50px 0;
  text-align: center;
  color: #6c757d; /* Subtle gray text */
}

.error-message img {
  width: 200px; /* Medium width for the image */
  height: 200px; /* Medium height for the image */
  margin-bottom: 16px;
  object-fit: contain; /* Maintain aspect ratio */
}


.error-message h2 {
  font-size: 18px;
  font-weight: bold;
  color: #000; /* Primary text color */
  margin-bottom: 8px; /* Space between title and subtitle */
}

.error-message p {
  font-size: 14px;
  font-weight: normal;
  color: #6c757d; /* Subtle gray for subtitle */
  margin: 0;
  line-height: 1.5;
}

