<div class="my-payments-container">
  <h1>My Payments</h1>

  <!-- Search & Filter Container -->
  <div class="search-filter-container">

    <!-- Search Component -->
    <app-transaction-search (searchTermChanged)="onSearchTermChanged($event)"></app-transaction-search>

    <!-- Filter Component -->
    <app-transaction-filter (filterApplied)="onFilterApplied($event)"
      (filterCleared)="onFilterCleared()"></app-transaction-filter>
  </div>



  <!-- Transaction List -->
  <app-transaction-list [searchTerm]="searchTerm" [filterCriteria]="filterCriteria"></app-transaction-list>
</div>