.my-payments-container {
  padding: 20px;
} 
/* Container for Search and Filter Buttons */
.search-filter-container {
  display: flex;
  align-items: center;
  gap: 16px; /* Space between search and filter buttons */
  margin-bottom: 12px;
}

/* My Payments Container */
.my-payments-container {
  padding: 20px;
}

/* Filter Button */
.filter-button {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 10px 20px;
  height: 40px;
  background-color: #e8edf3; /* Default background color */
  border: none;
  border-radius: 25px;
  cursor: pointer;
  font-size: 16px;
  font-weight: bold;
  color: #000;
  transition: background-color 0.3s ease;
}

/* Filter Button Icon */
.filter-button i {
  font-size: 18px;
  margin-right: 8px;
  color: #5f5f5f;
}

/* Hover State */
.filter-button:hover {
  background-color: #d9e3eb;
}

/* Active Filter Button State */
.filter-button.active {
  background-color: #b3b8bd; /* Background color when filters are visible */
}
