.transaction-container {
  display: flex;
  align-items: center;
  justify-content: space-between;
  border: 1.5px solid #ddd;
  /* Add borders around each transaction */
  border-top: none;
  /* Remove top border to stack seamlessly */
  box-shadow: #555;
  padding: 10px 20px;
  background-color: #fff;
  cursor: pointer;
  /* Make the cursor indicate the transaction is clickable */
}

/* Type Circle */
.type-circle {
  width: 40px;
  height: 40px;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 14px;
  font-weight: bold;
  color: #fff;
  /* White text */
  margin-right: 10px;
  /* Space between the circle and details */
  float: left;
  /* Ensures it aligns with the details */
}

/* Specific Colors Based on Transaction Type */
.type-circle.FP {
  background-color: #7c4182;
  /* Fawri+ */
}

.type-circle.FA {
  background-color: #f88d2b;
  /* Fawri */
}

.type-circle.FT {
  background-color: #00839b;
  /* Fawateer */
}

/* Default Color */
.type-circle {
  background-color: #ccc;
  /* Fallback for unknown types */
}


/* Keep the border on the last transaction */
.transaction-container:first-child {
  border-top: 1px solid #ddd;
  /* Ensure the first transaction has a top border */
}

.icon {
  margin-right: 10px;
  /* Space between the icon and details */
}

.icon img {
  width: 40px;
  height: 40px;
  border-radius: 50%;
  /* Circular icon */
}

.details {
  flex: 1;
  /* Take up remaining space */
}

.from,
.to {
  margin: 0;
  font-size: 14px;
  color: #555;
}

.from b,
.to b {
  font-weight: bold;
  color: #333;
}

.status-amount-container {
  display: flex;
  align-items: center;
  gap: 20px;
  /* Space between status and amount */
}

.status {
  text-align: center;
  font-size: 12px;
}

.status span {
  display: inline-block;
  width: 100px;
  text-align: center;
  padding: 5px 10px;
  border-radius: 15px;
  text-transform: uppercase;
  letter-spacing: 2px;
  font-weight: bold;
  font-family: Arial, Helvetica, sans-serif;
}

.status .approved {
  background-color: #00884b;
  color: #ffffff;
}

.status .rejected {
  background-color: #ba293a;
  color: #ffffff;
}

.status .pending {
  background-color: #ecb02b;
  color: #ffffff;
}

.amount {
  font-size: 16px;
  font-weight: bold;
  color: #bb2c3d;
  text-align: right;
  min-width: 75px;
  font-family: Arial, Helvetica, sans-serif;
}